<div class="page-header">
  <h1>Attendance #<%= @attendance.id %></h1>
</div>

<p>
  <b>Meeting:</b>
  <%= @attendance.meeting_id %>
</p>

<p>
  <b>Student:</b>
  <%= @attendance.student_id %>
</p>


